<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/project-success" method="POST">
      <p><label>Title: 
          <input type="text" name="title">
      </label></p>
      <p><label>
          <textarea rows="4" cols="50" name="description">Enter project description here</textarea>
      </label></p>
      <p><label>Grade: 
          <input type="text" name="grade">
      </label></p>
      <input type="submit" value="Add Project">
  </form>

</body>
</html>